@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

/* Base Rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 900;
}


/* Theme */
:root {
  --primary-color: #1c2833;
  --secondary-color: #fff;
  --bg-color: #f2f3f4;
 
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
}